<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateScheduledTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateScheduledTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CreateScheduledTask.Properties.Settings>
            <setting name="Description" serializeAs="String">
                <value>Updates the weather data in a JSON file for use by JS scripts on web pages.</value>
            </setting>
            <setting name="AppFileName" serializeAs="String">
                <value>WeatherUpdate.exe</value>
            </setting>
        </CreateScheduledTask.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CreateScheduledTask.Properties.Settings>
            <setting name="AppFriendlyName" serializeAs="String">
                <value>Weather Data Update</value>
            </setting>
            <setting name="sharepointUrl" serializeAs="String">
                <value></value>
            </setting>
            <setting name="serverDataPath" serializeAs="String">
                <value>/SiteAssets/</value>
            </setting>
            <setting name="siteDataPath" serializeAs="String">
                <value></value>
            </setting>
        </CreateScheduledTask.Properties.Settings>
    </userSettings>
</configuration>